body{
    background-color: #FF7900;
    
}

.menu {
    background-color: white;
}

.links {
    text-decoration: none;
    color: #FF7900;
    font-family: Aboshi One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.aoboshi-one-regular {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
  }

.atual {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo img {
    height: 60px;
    width: 60px;
}

.botao-entrar{
    background-color: #68F128;
    border-radius: 0;
    border: none;
    width: 100px;
    margin-right: 10px;
}

.titulo{
    color: white;
    font-family: Anton;
    font-size: 70px;
}

#form{
    border-radius: 0;
    border: solid 2px #D9D9D9;
    color: black;
}

.botao-enviar{
    width: 250px;
    color: black;
    border-radius: 0;
}


.linha-rodape {
    width: 103%;
    height: 15%;
    flex-shrink: 0;
    background: #5C3100;
}

.texto-rodape {
    color: #FFF;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto-rodape a {
    color: #FFF;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.redes img {
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-left: 8px;
}