@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #FF7900; 
}

/* Inicio style navbar */
.logo {
    max-width: 60px;
    width: 100%;
}

nav {
    background-color: white;
}

.nav-link {
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    line-height: normal;
    color: black;
    position: relative;
}

.nav-link:not(#botao-entrar)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:not(#botao-entrar):hover::before {
    transform: scaleX(1);
}

@media (max-width: 991px) {
    .nav-link:not(#botao-entrar)::before {
        width: 20%;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bi-list {
    font-size: 2rem;
}

.bi-x-circle {
    font-size: 1.5rem;
}

.botao-entrar{
    background-color: #46B910;
    border-radius: 0;
    border: none;
    width: 100px;
}

#botao-entrar {
    background-color: #46B910;
    color: white;
    border: none;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}
  
#botao-entrar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px green;
    transition: 0.5s;
}
/* Fim style navbar */

/* inicio style form contato */
.titulo{
    color: white;
    font-family: Anton;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}

#form{
    border-radius: 0;
    border: solid 2px #D9D9D9;
    color: black;
}

#form::placeholder{
    color: black;
}

.botao-enviar{
    width: 250px;
    color: white;
    background-color: #46B910;
    font-size: 20px;
    border: none;
}
/* Fim style form contato */

/* Inicio style rodape */
#rodap {
    width: 100%;
    flex-shrink: 0;
    background: #5C3100;
    position: absolute;
    bottom: 0;
}

.texto-rodape {
    color: #FFF;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 100px;
}

.texto-rodape a{
    color: #FFF;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.redes img {
    height: 25px;
    width: 25px;
    margin-right: 8px;
    margin-left: 8px;
}