/* estilizacao relacionada a navbar */
.logo {
  max-width: 60px;
  width: 100%;
}

nav {
  background-color: white;
}

.nav-link {
  text-decoration: none;
  font-family: 'Be Vietnam Pro';
  line-height: normal;
  color: black;
  position: relative;
}

.nav-link:not(#botao-entrar)::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:not(#botao-entrar):hover::before{
  transform: scaleX(1);
}

@media (max-width: 991px) {
  .nav-link:not(#botao-entrar)::before{
      content: "";
      position: absolute;
      display: block;
      width: 20%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      transform: scaleX(0);
      transition: transform 0.3s ease;
  }
    
  .nav-link:not(#botao-entrar):hover::before{
      transform: scaleX(1);
  }

}

.navbar-toggler:focus {
  box-shadow: none;
}

.bi-list {
  font-size: 2rem;
}

.bi-x-circle {
  font-size: 1.5rem;
}

.botao-entrar{
  background-color: #68F128;
  border-radius: 0;
  border: none;
  width: 100px;
}

#botao-entrar {
  background-color: #46B910;
  color: white;
  border: none;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
}

#botao-entrar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px green;
  transition: 0.5s;
}
/* fim da estilizacao relacionada a navbar */

/* estilizacao relacionada ao rodape */

#rodap {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background: #5C3100; 
  padding: 10px 20px; /* espacamento interno */
  color: white; 
  width: 100%; 
}

.texto-rodape {
  color: #FFF;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 600px;
  margin: 0;
}

.texto-rodape a{
  color: #FFF;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

/* fim da estilizacao relacionada ao rodape */

/* estilizacao parte central */

  .titulosociais{
    justify-content: center;
    display: flex;
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: "Impact", sans-serif;
    letter-spacing: 0px;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
  }
  
  .subtitulotitulosociais{
    font-size: 1.2rem; /* tam menor (usei rem pq é mais flexivel e escalavel) */
    color: #FFF; 
    line-height: 1.6; /* espacamento entre linhas */
    margin-bottom: 20px; /* espacamento abaixo */
    padding: 0 10px; /* espaco interno nas laterais */
    margin-left: 50px;
    margin-right: 50px;
  }

  .titulocorp{
    justify-content: center;
    display: flex;
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: "Impact", sans-serif;
    letter-spacing: 0px;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
  }
  
  .subtitulotitulocorp{
    font-size: 1.2rem; /* tam menor (usei rem pq é mais flexivel e escalavel) */
    color: #FFF; 
    line-height: 1.6; /* espacamento entre linhas */
    margin-bottom: 20px; /* espacamento abaixo */
    padding: 0 10px; /* espaco interno nas laterais */
    margin-left: 50px;
    margin-right: 50px;
  }

  

  .carousel-item .row {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os cartões */
  }

  .carousel-inner img {
      border-radius: 10px;
  }
  

  .carousel-container2{
    margin-top: 35px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Força o ajuste completo dentro do cartão */
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 10px;
    flex-grow: 1; /* Expande para ocupar espaço disponível */
  }

  .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Define a largura máxima */
    height: 100%; /* Garante altura uniforme */
    flex-direction: column; /* Alinha itens verticalmente */
    justify-content: space-between; /* Distribui espaço entre os itens */
    flex: 0 0 calc(33.333% - 20px); /* Ocupa 1/3 do espaço disponível, menos o gap */
    margin: 0 10px; /* Adiciona margem lateral uniforme */
    display: flex;
  }
  
  .card img {
    height: 280px; /* Define altura fixa para as imagens */
    object-fit: cover; /* Mantém proporções sem distorcer */
    width: 100%; /* Garante que a imagem ocupe toda a largura */
    align-items: center;
    align-self: center;
}

.card-img-top{
  align-items: center;
  align-self: center;
  height: auto;
}


.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Reduz a largura das áreas clicáveis das setas */
  }

  