html,
body {
  height: 100%;
}

nav {
  text-align: center;
  background-color: white;
  margin: 0;
}

#marrom {
  background-color: #5c3100;
}

#marrom p {
  color: white;
  font-family: 'Aoboshi One';
  font-size: 32px;
}

.atual,
.link {
  text-decoration: none;
  /* padding: 20px;  */
  font-family: 'Anton';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  color: #ff7900;
}

.atual {
  color: black;
}

#marrom img {
  height: 10%;
}


/* .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */