@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    background-color: #FF7900;

}

/* Inicio style navbar */
.logo {
    max-width: 60px;
    width: 100%;
}

nav {
    background-color: white;
}

.nav-link {
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    line-height: normal;
    color: black;
    position: relative;
}

.nav-link:not(#botao-entrar)::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:not(#botao-entrar):hover::before {
    transform: scaleX(1);
}

@media (max-width: 991px) {
    .nav-link:not(#botao-entrar)::before {
        content: "";
        position: absolute;
        display: block;
        width: 20%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .nav-link:not(#botao-entrar):hover::before {
        transform: scaleX(1);
    }

    /* #botao-entrar{
        text-decoration: none;
        font-family: 'Be Vietnam Pro';
        line-height: normal;
        color: black;
        position: relative;
    } */

    /* #botao-entrar:hover {
        transform: none;
        box-shadow: none;
        transition: none;
    } */
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bi-list {
    font-size: 2rem;
}

.bi-x-circle {
    font-size: 1.5rem;
}

#botao-entrar {
    background-color: #46B910;
    color: white;
    border: none;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}

#botao-entrar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px green;
    transition: 0.5s;
}

@media (max-width: 991px) {
    #botao-entrar {
        text-decoration: none;
        font-family: 'Be Vietnam Pro';
        line-height: normal;
        color: black;
        position: relative;
    }

    #botao-entrar:hover {
        transform: none;
        box-shadow: none;
        transition: none;
    }
}

/* Fim style navbar */


.titulo {
    font-size: 3.5rem;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Impact", sans-serif;
    letter-spacing: 0px;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
}

article {
    font-size: 1.2rem;
    /* tam menor (usei rem pq é mais flexivel e escalavel) */
    color: #FFF;
    line-height: 1.6;
    /* espacamento entre linhas */
    margin-bottom: 0px;
    /* espacamento abaixo */
    padding: 0px;
    /* espaco interno nas laterais */
    text-align: center;
    /* Centraliza o texto */
}

.imagem-ods {
    max-width: 50%;
    /* Ajuste o tamanho da imagem (50% da largura do contêiner) */
    height: auto;
    /* Mantém a proporção da imagem */
    margin-top: 10px;
    /* Espaçamento superior */
}


.row.justify-content-around.mt-4 {
    justify-content: center !important;
    /* Centraliza o contêiner */
}

.subtitulo {
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Impact", sans-serif;
    letter-spacing: 1px;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
}


.card-projeto {
    background-color: #593b12;
    color: white;
    border: none;
    margin-top: 0px;
}

.row.text-center.align-item-center.justify-content-around {
    margin-top: 0px;
    /* Remove espaço extra entre o subtítulo e os cards */
}


.card-projeto img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.titulo-card {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0 0.5rem;
}

.descricao {
    text-align: center;
    font-size: 1rem;
    font-family: 'Be Vietnam Pro', sons-serif;
    margin-bottom: 1rem;
}

/* estilizacao relacionada ao rodape */

#rodap {
    width: 100%;
    height: 15%;
    flex-shrink: 0;
    background: #5C3100;
}

.texto-rodape {
    color: #FFF;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 100px;
}

.texto-rodape a {
    color: #FFF;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.redes img {
    height: 20px;
    width: 25px;
    margin-right: 8px;
    margin-left: 8px;
}