html,
body {
  height: 100%;
}

nav {
  text-align: center;
  background-color: white;
  margin: 0;
}

#marrom {
  background-color: #5c3100;
  height: 435px;
}

#marrom p {
  color: white;
  font-family: 'Aoboshi One';
  font-size: 32px;
}

.atual,
.link {
  text-decoration: none;
  /* padding: 20px;  */
  font-family: 'Anton';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  color: #ff7900;
}

.atual {
  color: black;
}

#foto-empresa {
  padding: 8px 0px;
}

#img-logo {
  height: 64px;
}
