html,
body {
  height: 100%;
}

nav {
  text-align: center;
  background-color: white;
  margin: 0;
}

#marrom {
  background-color: #5c3100;
}

#marrom p {
  color: white;
  font-family: 'Aoboshi One';
}

.atual, .link {
  text-decoration: none;
  font-family: 'Aoboshi One';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  color: #ff7900;
}

.atual {
  color: black;
}

#foto-empresa {
  max-width: 70%;
  height: auto;
  border-radius: 25px;
}

#img-logo {
  height: 100px;
  padding-top: 12px;
}

#botao-entrar {
  background-color: #68F128;
  color: white;
  border: none;
}

h1, h2 {
  font-family: 'Anton';
}

#quem-somos, #reconhecimentos {
  color: white;
  background-color: #ff7900;
}

#historia {
  background-color: white;
}

#quem-somos, #reconhecimentos, #historia p {
  font-family: 'Anuphan';
}