@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html,
body {
  height: 100%;
}

/* navbar */
nav {
  background-color: white;
}

#marrom {
  background-color: #5c3100;
}

#marrom p {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 50px;
}

/* Inicio style navbar */
.logo {
  max-width: 60px;
  width: 100%;
}

nav {
  background-color: white;
}

.nav-link {
  text-decoration: none;
  font-family: 'Be Vietnam Pro';
  line-height: normal;
  color: black;
  position: relative;
}

.nav-link:not(#botao-entrar)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:not(#botao-entrar):hover::before {
  transform: scaleX(1);
}

@media (max-width: 991px) {
  .nav-link:not(#botao-entrar)::before {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .nav-link:not(#botao-entrar):hover::before {
    transform: scaleX(1);
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bi-list {
  font-size: 2rem;
}

.bi-x-circle {
  font-size: 1.5rem;
}

#botao-entrar {
  background-color: #46B910;
  color: white;
  border: none;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
}

#botao-entrar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px green;
  transition: 0.5s;
}

/* CSS Navbar anterior */
/* componentes "rotas" da navbar */
/* .link {
  text-decoration: none;
  font-family: 'Be Vietnam Pro';
  line-height: normal;
  color: black;
  position: relative;
}

.link:not(#botao-entrar)::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:not(#botao-entrar):hover::before{
  transform: scaleX(1);
} */

/*componentes do centro */
#foto-empresa {
  max-width: 70%;
  height: auto;
  border-radius: 25px;
}

#img-logo {
  height: 100px;
  padding-top: 12px;
}

/* botao entrar */
/* #botao-entrar {
  background-color: #46B910;
  color: white;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
}

#botao-entrar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px green;
  transition: 0.5s;
} */

h1,
h2 {
  font-family: "Impact", sans-serif;
}

.quemsomos {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

#quem-somos,
#reconhecimentos {
  color: white;
  background-color: #ff7900;
}

#historia {
  background-color: white;
}

#quem-somos,
#reconhecimentos,
#historia p {
  font-family: 'Anuphan';
}

/* estilizacao relacionada ao rodape */

#rodap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5C3100;
  padding: 10px 20px;
  /* espacamento interno */
  color: white;
  width: 100%;
}

.texto-rodape {
  color: #FFF;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 600px;
  margin: 0;
}

.texto-rodape a {
  color: #FFF;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

.social-icon {
  font-size: 1.5rem;
  margin: 0 10px;
  color: white;
}

@media (max-width: 768px) {
  #rodap .row {
    flex-direction: column;
    text-align: center;
  }

  .social-icon {
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  #rodap .row {
    flex-direction: column;
    text-align: center;
  }

  .social-icon {
    margin: 10px 0;
  }
}

/* estilizacao relacionada à foto */

#foto-empresa {
  height: 100%;
}

@media (max-width: 768px) {

  #container-foto-empresa,
  .missao {
    text-align: center;
  }
}

@media (min-width: 769px) {
  #container-foto-empresa {
    text-align: right;
  }
}