body {
    background-color: #FF7900;
}

#user{
    width: 20px;
    height: 20px;
}

#cadeado{
    width: 20px;
    height: 20px;
}

#basic-addon1{
    width: 20px;
    height: 60px;
}

#basic-addon2{
    width: 20px;
    height: 60px;
}

#botao-entrar{
    width: 400px;
    height: 60px;
}

